body {
  margin: 120px;
  background-color: rgb(26, 26, 26);
}
.container {
  width: 350px;
  margin: auto;
  padding: 50px 28px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(41, 41, 41);
  border-radius: 12px;
  color: beige;
  font-size: 30px;
}

.buttons {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex-wrap: wrap;
}

button {
  height: 50px;
  width: 80px;
  font-size: 20px;
}

.display {
  width: 100%;
  font-size: 40px;
  color: rgb(214, 214, 30);
  text-align: right;
  margin-bottom: 16px;
  padding-right: 2px;
  background-color: rgba(99, 99, 99, 0.6);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.705);
}

.number-buttons, .operator-buttons, .del-btns {
  background: rgb(61, 61, 61);
  border: 2px solid rgb(49, 49, 49);
  border-radius: 8px;
  color: rgb(179, 179, 0);
}

.del-btns {
  width: 160px;
}